<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.htk.moment.ui"
          android:versionCode="1"
          android:versionName="1.0">
	<uses-sdk android:minSdkVersion="14"/>
	<application
			android:label="@string/app_name"
			android:icon="@drawable/application">
		<!--启动时候加载到屏幕上-->
		<activity
				android:name=".LaunchActivity"
		        android:launchMode="standard"
				>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<!--用户注册Activity-->
		<activity
				android:name=".RegisterActivity"

				>
			<intent-filter android:label="what is it?">
				<action android:name="android.intent.action.send"/>
				<data android:scheme="who is it?"/>

			</intent-filter>
		</activity>
		<!-- 用户主页-->

		<!--10.29号之前的照相机，通过双指下滑，获得照相功能-->
		<activity
				android:name="utils.android.photo.CameraActivity"
				android:configChanges="orientation|keyboardHidden"

				>
			<intent-filter>
				<!--加上这段代码，可以实现隐式调用-->
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<!--10.29号之前为了获取本地相册-->
		<!--上传图片-->
		<activity
				android:name="utils.android.photo.UploadPhoto"
				android:configChanges="keyboard"

				>
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".AppIndexActivity"
		          android:launchMode="singleTask"
				>
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>


		<activity android:name="utils.android.photo.LocalPictureLibrary">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity android:name=".PictureScanActivity"
		          android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
				>
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".ViewLikeOrComment">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity android:name=".FollowActivity"
		          android:launchMode="standard"
				>
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".testEdit">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".OtherPeopleIndex">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>


		<service android:name="utils.services.LoadDataService"/>
	</application>
	<!--权限申请-->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!--外置内存卡权限-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<!--位置信息-->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<!--窗口-->
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
</manifest>
